$gradient:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

#leftpetal{
    position: relative;
    left:-31px;
    top:-12px;
}

#rightpetal{
    position: relative;
    left:-32px;
    top:-18px;
   
    fill: -webkit-linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#toxin{
    position: relative;
    left:52px;
    top:-31px;
}